default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: Foods_Drinks_development

test:
  <<: *default
  database: Foods_Drinks_test

production:
  <<: *default
  database: Foods_Drinks_production
  username: Foods_Drinks
  password: <%= ENV['FOODS_DRINKS_DATABASE_PASSWORD'] %>
