<% provide :title, t(".title") %>
<% provide :button_text, t("admin.product.button_text") %>
<div class="container">
  <div class="row">
    <%= render "shared/nav_bar" %>
    <div class="row">
      <%= render "form"%>
   </div>
  </div>
</div>
